html {
    cursor: url(./resources/images/flyswatter.png) 30 30, auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./resources/images/bg.jpg);
    background-repeat: no-repeat;
}

.gnat1 {
    width: 50px;
    height: 50px;
}

.gnat2 {
    width: 70px;
    height: 70px;
}

.gnat3 {
    width: 90px;
    height: 90px;
}

.side2 {
    transform: scaleX(-1);
}

.panel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0;
    bottom: 0;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.stopWatch {
    font-size: 20px;
    font-weight: bold;
}



/* index.html / game_over.html / win.html */

#container {
    text-align: center;
    height: 100vh;
}

.button {
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
}

#button-restart {
    background-color: rgba(0,0,0,0.7);
}

#button-restart:hover {
    background-color: rgba(0,0,0,0.8);
}

#button-start {
    background-color: rgba(255, 0, 0, 0.7);
}

#button-start:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

#select-level {
    color: black;
    margin-bottom: 10px;
}