body {
    background-image: url(./resources/images/bg.jpg);
    background-repeat: no-repeat;
}

.gnat1 {
    width: 50px;
    height: 50px;
}

.gnat2 {
    width: 70px;
    height: 70px;
}

.gnat3 {
    width: 90px;
    height: 90px;
}

.side2 {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0;
    bottom: 0;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.cronometro {
    font-size: 20px;
    font-weight: bold;
}

/* game_over.html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game-over-container {
    text-align: center;
    height: 100vh;
}

#game-over-button-restart {
    text-transform: uppercase;
    background-color: rgb(0,0,0,0.7);
    color: white;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
}

#game-over-button-restart:hover {
    background-color: rgb(0,0,0,0.8);
}